<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="{% static 'logo1.png' %}" style="display: block; margin: 0 auto;">
    <div class="container" style="text-align: center;">
        <h2>Login</h2>
        {% if error %}
            <p class="error" style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Create New Account</a></p>
    </div>
</body>
</html>
