<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="{% static 'logo1.png' %}" style="display: block; margin: 0 auto;">
    <div class="container" style="text-align: center;">

    <img src="{% static 'logo.png' %}" alt="App Logo" style="display: block; margin: 0 auto;">
    <h2>Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div>
                <label for="password_confirm">Confirm Password:</label>
                <input type="password" name="password_confirm" placeholder="Confirm your password" required>
            </div>

            <button type="submit" class="btn">Create Account</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

    </div>
</body>
</html>
